// BREAKPOINTS
$breakpoints: (
  'medium': ( min-width:  48.000em ),
  'large':  ( min-width: 62.000em ),
  'wide':  ( min-width: 600px )
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// COLORS
$color: (
  main: darkseagreen,
  wText: white,
  bText: black,
  gText: gold,
  black2: rgba(0,0,0,0.2),
  black5: rgba(0,0,0,0.5),
  navGray: gray
) !default;
