.footercontainer{
  color:color(wText);
  display:flex;
  flex-flow: column nowrap;
  width:100%;
  
    @include respond-to('large'){
    flex-flow:row;
        
  }
  .footeritem{
      justify-content: center;
    text-align:center;
    display:flex;
    flex: 1;
    background-color:color(bText);
    border-bottom: 1px solid white;
      
} 
}