@import "compass/css3";
body {
    background-image: url("http://i.imgur.com/N6S7jsf.jpg");
}
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.wrapper > *{
padding: 10px;
box-sizing: border-box;
}
.header {
    height: 150px;
    margin-bottom: 5px;
    width: 100%;
}
.header img {
    display: none;
}
.footer {
    border: 1px solid black;
    height: 50px;
    width: 100%;
}
.main {
    text-align: left;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
    order: 1;
    height: 100%;
}
.main h2, h3{
    color:tomato;
    font-family: serif;
}
.main p{
    font-family: serif;
}
.bluetext{
    color: blue;
}
.redtext{
    color:red;
}
.underlinetext{
    text-decoration: underline;
}
.linetroughtext{
    text-decoration: line-through;
}
.aside-1 {
    border: 1px solid black;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
    order: 2;
    height: 70%;
}
 .weirdbox{
    width: 60%;
    height: 7%;
    background-color: crimson;
    border-radius: 7px 25px;
    text-align: center;
    margin:auto;
     padding-top: 3%;
}
.weirdbox h2{
    color:darkgoldenrod;
    text-shadow: -2px -2px 8px black;
    font-family: serif;
    font-size: 200%;
    margin: 0;
}
.secondWeirdbox{
    height:auto;
    width: 80%;
    background-color: bisque;
    border-bottom: 2px solid yellow;
    border-top: 2px solid yellow;
    margin: auto;
}
.secondWeirdbox p{
   margin: 30px; 
}

/*MENU*/

menu li:not(:first-child) {display: none;}
  menu li.icon {
    float: right;
    display: inline-block;
  }
menu.responsive {
    position: relative;
}
  menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  menu.responsive li {
    float: none;
    display: inline;
  }
  menu.topnav.responsive li a {
    display: block;
    text-align: left;
  }
.icon {
    display: flex;
}
.menu{
    list-style: none;
}


/* MEDIA QUERY*/
@media all and (min-width: 800px) {
    .wrapper {
        width: 70%;
        margin-left: 15%;
    }
    .main {
        flex: 3 0px;
        order: 2;
        margin-left: 5px;
        margin-bottom: 5px;
    }
   
    .footer{
        width: 70%;
        margin-left: 15%;
    }
    .aside-1 {
        order: 1;
        width: 150px;
        margin-left: 5px;
    }
    .header {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
    }
    .header img {
        display: flex;
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: center;
        flex: 1 1 100%;
    }
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        margin-top: 4%;
        
    }
    li {
        float: left;
        margin-right: 5px;
        background-color: coral;
        border-radius: 10px;
        box-shadow: 3px 3px 0px 0px gray;
        margin-bottom: 3px;
        font-weight: bold;
        font-size:1.2em;
    }
    li:nth-child(odd){
        background-color: brown;
    }
    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 6px 16px;
        text-decoration: none;
         border-radius: 10px;
    }
    li a:hover,
    .dropdown:hover .dropbtn {
        background-color: gray;
    }
    li.dropdown {
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .icon {display: none;}
}
