.header-container{
header{
    font-family: 'Raleway', sans-serif;
    background-color:color(wText);
    position:absolute;
    width:100%;
    top:0;
    border-bottom: 1px solid color(black2);
}
    }