.bigTitle{
    width:100%;
    background-color: color(wText);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: raleway;
    
    .bigTitle-content{
        
        h1{
            color:color(main);
            font-size: 2.3em;
            @include respond-to('unfuck'){
                font-size: 3em;
            }
        }
        p{
            color:color(black5);
            font-size:1.5em;
            text-align: center;
            
        }
    }
}