.footercontainer{
  color:color(bText);
  display:flex;
  flex-flow: column nowrap;
  width:100%;
  
    @include respond-to('large'){
    flex-flow:row;
        
  }
  .footeritem{
    padding:10px;
    display:flex;
    flex: 1;
    background-color:color(wText);
    border-top: 1px solid color(black2);
    flex-direction: column;
      
         @include respond-to('large'){
               align-items: center;
               padding:50px 0;
      }
      
      
      h2{
          margin-bottom:5px;
          font-size: 1.2em;
      }
      
      ul{
          list-style: none;
          padding: 0;
        
          
          a{
              color:color(black5);
              text-decoration: none;
              font-weight: 600;
              font-size:0.7em;
              text-transform: uppercase;
              
              &:hover{
                  color:color(main);
              }
          }
      }
}
}