/// BREAKPOINTS
$breakpoints: (
  'unfuck':( min-width: 451px ),
  'medium': ( min-width:  48.000em ),
  'large':  ( min-width: 62.000em ),
  'wide':  ( min-width: 600px )
) !default;

/// Makes calling breakpoints easier
@mixin respond-to($breakpoint) {
  /// If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    /// Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  /// If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/// COLORS
$color: (
  main: #0084b4,
  wText: white,
  bText: black,
  black2: rgba(0,0,0,0.2),
  black5: rgba(0,0,0,0.5),
  navGray: gray
) !default;

/// FUNCTION FOR CALLING COLORS EASILY
@function color($key) {
    @if map-has-key($color, $key) {
        @return map-get($color, $key);
    }@else{
        @warn "No valid key was found";
    }
}

/// Color map for flexcards
$colors: (
    	#C23B22,
    #FFD1DC,
    #966FD6,
    #FDFD96,
    #77DD77,
    #AEC6CF,
   #FF6961,
    #CB99C9,
    #CFCFC4,
    #836953 
);
$miniColors: (
    #0084b4,
    #3b5998,
    black,
    #d34836
);
/// Map for opacity values
$opacities:(
    1.0,
    0.9,
    0.8,
    0.7,
    0.6,
    0.5,
    0.4,
    0.3,
    0.2,
    0.1
);

